.about{
    background-color: $gray;
    padding-bottom: 400px;
    padding-top: 200px;
    position: relative;
    

    &__container{
        background-color: $trans-blue;
        padding: 32px;
        position: absolute;
        left: 70%;
        text-align: left;
        top: 30%;
        transform: translate(-70%, -30%);
        width: 45%;
        z-index: 2;
        -webkit-transform: translate(-70%, -30%);
        -moz-transform: translate(-70%, -30%);
        -ms-transform: translate(-70%, -30%);
        -o-transform: translate(-70%, -30%);
    }

    &__img{
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 450px;
    }

    &__title{
        color: $gray;
        font-family: $text-font;
        font-weight: 800;
        font-size: 3.6rem;
        letter-spacing: 5px;
        line-height: .85;
        margin: 0 !important;
        padding: 0 !important;
        
        &--span{
            color: $off-black;
            font-family: $text-font;
            font-weight: 800;
            letter-spacing: 5px;
        }

        &--small{
            border-bottom: solid 1px $off-white;
            color: $off-white;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 30px;
        }
    }

    &__text{
        color: $off-white;
        font-family: $text-font;
        font-weight: 100;
        line-height: 1.8;
        margin-top: 20px;
    }
}

@media (max-width: 320.98px) and (orientation: portrait) {
    .about{
        overflow: hidden;
        &__container{
            padding: 24px;
            left: 80%;
            top: 30%;
            transform: translate(-70%, -30%);
            width: 60%;
        }
        &__title{
            font-size: 1.4rem;

            &--small{
                font-size: .85rem;
            }
        }
        &__text{
            font-size: .85rem;
        }
        &__img{
            height: 100%;
            position: absolute;
            left: -55%;
            bottom: 0;
            width: 450px;
        }
    }
}

@media (min-width: 321px) and (max-width: 374.98px) and (orientation: portrait) {
    .about{
        overflow: hidden;
        &__container{
            padding: 24px;
            left: 80%;
            top: 30%;
            transform: translate(-70%, -30%);
            width: 60%;
        }
        &__title{
            font-size: 1.6rem;

            &--small{
                font-size: .85rem;
            }
        }
        &__text{
            font-size: .85rem;
        }
        &__img{
            height: 100%;
            position: absolute;
            left: -50%;
            bottom: 0;
            width: 450px;
        }
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .about{
        overflow: hidden;
        &__container{
            padding: 24px;
            left: 80%;
            top: 30%;
            transform: translate(-70%, -30%);
            width: 60%;
        }
        &__title{
            font-size: 1.6rem;

            &--small{
                font-size: .85rem;
            }
        }
        &__text{
            font-size: .85rem;
        }
        &__img{
            height: 100%;
            position: absolute;
            left: -45%;
            bottom: 0;
            width: 450px;
        }
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .about{
        overflow: hidden;
        &__container{
            left: 80%;
            top: 30%;
            transform: translate(-70%, -30%);
            width: 55%;
        }
        &__title{
            font-size: 1.6rem;

            &--small{
                font-size: .85rem;
            }
        }
        &__text{
            font-size: .85rem;
        }
        &__img{
            height: 100%;
            position: absolute;
            left: -35%;
            bottom: 0;
            width: 450px;
        }
    }
}

@media (max-width: 575.98px) and (orientation: landscape){
    .about{
        overflow: hidden;
        &__container{
            left: 80%;
            top: 30%;
            transform: translate(-70%, -30%);
            width: 45%;
        }
        &__title{
            font-size: 2rem;
        }
        &__text{
            font-size: .85rem;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .about{
        overflow: hidden;
        &__container{
            left: 80%;
            top: 30%;
            transform: translate(-70%, -30%);
            width: 50%;
        }
        &__title{
            font-size: 2.6rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .about{
        &__title{
            font-size: 3rem;
        }
    }
}