.hamburger{
    display: none;
    left: 5%;
    position: fixed;
    top: 2%;
    z-index: 11;
}

.hamburger .line{
    width: 35px;
    height: 2px;
    background-color: $blue;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}

#hamburger-12.is-active .line:nth-child(1){
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

#hamburger-12.is-active .line:nth-child(2){
    background-color: $off-white;
}

#hamburger-12.is-active .line:nth-child(3){
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

@media (max-width: 374.98px) and (orientation: portrait) {
    .hamburger{
        display: block;
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .hamburger{
        display: block;
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .hamburger{
        display: block;
    }
}