.header{
    animation:  animate 1s linear;
    -webkit-animation:  animate 1s linear;
    position: fixed;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    width: 100%;
    z-index: 100;
    &__nav{
        background-color: $trans-blue;
        display: flex;
        padding: 12px 16px !important;
        width: 100%;

        &--link{
            color: whitesmoke;
            letter-spacing: 2px;
            font-weight: 500;
            margin-right: 25px;
            padding: 8px 10px;
            position: relative;

            &::after{
                content: '';
                background-color: $off-white;
                position: absolute;
                left: 0;
                height: 2%;
                bottom: 0;
                width: 0%;
                z-index: 2;
                transition: all .5s ease-out;
                -webkit-transition: all .5s ease-out;
                -moz-transition: all .5s ease-out;
                -ms-transition: all .5s ease-out;
                -o-transition: all .5s ease-out;
            }           
            &:hover::after{
                width: 100%;
            }
        }
    }
}

// opacity animation
@keyframes animate {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media (max-width: 374.98px) and (orientation: portrait) {
    .header{
        display: none;
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .header{
        display: none;
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .header{
        display: none;
    }
}

@media (max-width: 575.98px) and (orientation: landscape){
    .header{
        &__nav{
            &--link{
                font-size: .75rem;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .header{
        &__nav{
            &--link{
                font-size: .85rem;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}