.hero{
    @include applyFlex(center, center);
    background-color: $gray;
    height: 100vh;
    position: relative;
    width: 100%;

    &__container{
        @include applyFlex(center, center, column);
        text-align: center;
        width: 80%;
        z-index: 5;
    }

    &__title{
        animation:  animate 1s linear;
        -webkit-animation:  animate 1s linear;
        color: $off-white;
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: 25px;
        z-index: 5;
    }

    &__text{
        animation:  animate 1s linear;
        -webkit-animation:  animate 1s linear;
        color: $off-white;
        font-size: 1rem;
        font-weight: 100;
        letter-spacing: 25px;
        z-index: 5;
    }

    &__wave--top{
        animation:  animate 1s linear;
        -webkit-animation:  animate 1s linear;
        height: 400px;
        left: 0;
        position: absolute;
        top: 0;
        width: 600px;
        z-index: 2;
    }
    &__wave--bottom{
        animation:  animate 1s linear;
        -webkit-animation:  animate 1s linear;
        bottom: 0;
        height: 400px;
        position: absolute;
        right: 0;
        width: 600px;
        z-index: 2;
    }
}
