.hero{
    @include applyFlex(center, center);
    background-color: $gray;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    &__container{
        @include applyFlex(center, center, column);
        text-align: center;
        width: 100%;
        z-index: 5;
    }

    &__title{
        animation:  animate 1s linear;
        -webkit-animation:  animate 1s linear;
        color: $off-white;
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: 25px;
        z-index: 5;
    }

    &__text{
        animation:  animate 1s linear;
        -webkit-animation:  animate 1s linear;
        color: $off-white;
        font-size: 1rem;
        font-weight: 100;
        letter-spacing: 25px;
        z-index: 5;
    }

    &__wave--top{
        animation:  animate 1s linear;
        -webkit-animation:  animate 1s linear;
        height: 400px;
        left: 0;
        position: absolute;
        top: 0;
        width: 600px;
        z-index: 1;
    }
    &__wave--bottom{
        animation:  animate 1s linear;
        -webkit-animation:  animate 1s linear;
        bottom: 0;
        height: 400px;
        position: absolute;
        right: 0;
        width: 600px;
        z-index: 1;
    }
}

@media (max-width: 374.98px) and (orientation: portrait) {
    .hero{
        &__container{
            padding-left: 20px;
        }
        &__title{
            font-size: 1.2rem;
        }
        &__text{
            font-size: .75rem;
        }

        &__wave--top{
            height: 300px;
            left: -30%;
            position: absolute;
            top: 0;
            width: 500px;
            z-index: 1;
        }
        &__wave--bottom{
            bottom: 0;
            height: 300px;
            position: absolute;
            right: -30%;
            width: 500px;
            z-index: 1;
        }
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .hero{
        &__title{
            font-size: 1.6rem;
        }

        &__wave--top{
            height: 300px;
            left: -30%;
            position: absolute;
            top: 0;
            width: 500px;
            z-index: 1;
        }
        &__wave--bottom{
            bottom: 0;
            height: 300px;
            position: absolute;
            right: -30%;
            width: 500px;
            z-index: 1;
        }
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .hero{
        &__title{
            font-size: 1.6rem;
        }

        &__wave--top{
            height: 300px;
            left: -10%;
            position: absolute;
            top: 0;
            width: 500px;
            z-index: 1;
        }
        &__wave--bottom{
            bottom: 0;
            height: 300px;
            position: absolute;
            right: -10%;
            width: 500px;
            z-index: 1;
        }
    }
}

@media (max-width: 575.98px) and (orientation: landscape){
    .hero{
        &__title{
            font-size: 1.6rem;
        }

        &__wave--top{
            height: 300px;
            left: 0;
            position: absolute;
            top: 0;
            width: 500px;
            z-index: 1;
        }
        &__wave--bottom{
            bottom: 0;
            height: 300px;
            position: absolute;
            right: 0;
            width: 500px;
            z-index: 1;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .hero{
        &__title{
            font-size: 1.6rem;
        }
        &__text{
            font-size: .75rem;
        }

        &__wave--top{
            height: 200px;
            left: -10%;
            position: absolute;
            top: 5%;
            width: 400px;
            z-index: 1;
        }
        &__wave--bottom{
            bottom: 0;
            height: 200px;
            position: absolute;
            right: -10%;
            width: 400px;
            z-index: 1;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .hero{
        &__title{
            font-size: 2rem;
        }

        &__wave--top{
            height: 300px;
            left: 0;
            position: absolute;
            top: 0;
            width: 500px;
            z-index: 1;
        }
        &__wave--bottom{
            bottom: 0;
            height: 300px;
            position: absolute;
            right: 0;
            width: 500px;
            z-index: 1;
        }
    }
}