.skills{
    @include applyFlex(center, center, column);
    background-color: $off-white;
    width: 100%;

    &__col{
        @include applyFlex(center, space-between);
        flex-wrap: wrap;
        padding-bottom: 35px;
        padding-top: 35px;
        width: 90%;
    }

    &__icon{
        font-size: 6rem;
        padding: 12px 16px;
    }
}

@media (max-width: 374.98px) and (orientation: portrait) {
    .skills{
        &__col{
            @include applyFlex(center, center);
            padding-bottom: 5px;
            width: 100%;
        }
        
        &__icon{
            font-size: 4rem;
            padding: 12px 16px;
        }
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .skills{
        &__col{
            @include applyFlex(center, center);
            padding-bottom: 5px;
            width: 100%;
        }
        
        &__icon{
            font-size: 4rem;
            padding: 12px 16px;
        }
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .skills{
        &__col{
            @include applyFlex(center, center);
            padding-bottom: 5px;
            width: 100%;
        }
        
        &__icon{
            font-size: 4rem;
            padding: 12px 16px;
        }
    }
}

@media (max-width: 575.98px) and (orientation: landscape){
    .skills{
        &__icon{
            font-size: 4rem;
            padding: 12px 16px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .skills{
        &__icon{
            font-size: 5rem;
            padding: 12px 16px;
        }
    }
}