// colors
$gray: #2c2c2c;
$off-black: #1d1d1d;
$off-white: #fff;
$blue: rgb(38, 38, 255);
$trans-blue: rgba(38, 38, 255, 0.85);

// font-sizes

// font-styles
$main-font: 'Martel Sans', sans-serif;
$text-font: 'Open Sans', sans-serif;